@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  box-sizing: border-box;
}
:root {
  --primary-color: steelblue;
  --primary-color-darker: #396a93;
  --primary-color-darkest: #24435c;
  --secondary-color: black;
  --secondary-color-light: #282c35;
  --secondary-color-lighter: #363636;
  --secondary-color-lightest: #454b4b;
  --light-color: lightgrey;
  --danger-color: red;
  --stuck-task: #780909;
  --completed-task: green;
  --doing: orange;
  --primary-bg: #fdfdfd;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}
/* general */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}
/* sub-container */
.sub-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: top;
  align-items: center;
}
/* border */
.bl {
  border-left: 0.5px dotted var(--secondary-color-lightest);
}
.bb {
  border-bottom: 0.5px dotted var(--secondary-color-lightest);
}
/* card */
.card {
  margin: 2px;
  border: 0.3px dotted darkgrey;
  border-radius: 20px;
  box-shadow: 1px 2px 3px darkgrey;
  max-width: 100%;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}
/* heading */
.heading {
  color: var(--primary-color-darkest);
}
/* sub heading */
.sub-heading {
  color: var(--primary-color-darker);
}
/* content */
.content {
  color: var(--secondary-color-light);
}
/* texts */
.text-sm {
  font-size: 0.5rem;
}
.text-reg {
  font-size: 1rem;
}
.text-l {
  font-size: 1.2rem;
}
.text-xl {
  font-size: 1.8rem;
}
/* margin */
.m-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.m-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.m-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* padding */
.p-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.p-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 3px var(--primary-color-darker);
  background-color: var(--primary-color-darkest);
  color: white;
  width: 100vw;
}
.navbar ul {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
}
.left-navbar {
  display: inline-flex;
}
/* images */
/* icons */
i {
  color: white;
}
.i-l {
  color: var(--light-color);
}
/* tasks based borders */
.task-completed {
  border-left: 4px solid var(--completed-task);
}
.task-ongoing {
  border-left: 4px solid var(--doing);
}
.task-stuck {
  border-left: 4px solid var(--stuck-task);
}
.sub-task-completed {
  color: var(--completed-task);
}
.sub-task-ongoing {
  color: var(--doing);
}
.sub-task-stuck {
  color: var(--stuck-task);
}
/* ul which lists all tasks */
.sub-tasks {
  list-style: none;
  padding-left: 0px;
  color: var(--light-color);
}
.sub-task {
  border-radius: 20px;
}
/* links */
a,
Link {
  color: white;
  text-decoration: none;
}
a:visited,
Link:visited {
  text-decoration: none;
}

a:hover,
Link:hover {
  font-weight: 900;
}

/* based on display */
.inline-flex {
  display: inline-flex;
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
/* mobile styles settings */
@media (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 10px;
    scroll-behavior: auto;
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 100vw;
  }
  .sub-container {
    width: 95vw;
  }
  .card {
    width: 100%;
  }
  .task-dates {
    display: flex;
    flex-direction: column;
  }
  .dates {
    border-left: none;
    padding-top: 0.5rem;
    border-top: 0.5px dotted var(--secondary-color-lightest);
  }
}
